.clr {
	clear: both;
}
.col-8 {
    width: 60%;
    margin-right: 15px;
	float: left;
}
.col-4 {
    width: calc(40% - 15px);
	float: left;
}
.mjbQuizContent {
	margin-bottom: 10px;
}
.mjbQuizContent label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-size: 12px;
}
.mjbQuizContent input, .mjbQuizContent textarea{
    width: 100%;
    line-height: 1.4em;
    font-size: 16px;
}
.mjbQuizContent input[type="checkbox"] {
    width: auto;
}
.mjbQuizContent select {
    width: 100%;
    font-size: 14px;
    height: 30px;
}
.mjbQuizContent {
    border-bottom: 1px solid #eeee;
    padding-bottom: 10px;
}
.essay, .multiplechoice, .identification{
	margin-top: 10px;
}